Flask
Flask-Login
Flask-SocketIO
requests
pytz
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
WTForms
email-validator
Flask-Bcrypt
Flask-Cors
pytest
pytest-flask
pytest-cov
coverage
python-dotenv
gunicorn
cryptography
